# Model Evaluation

## Imoprt libraries

In [190]:
import pandas as pd
from dataclasses import dataclass
from enum import Enum
from typing import List
import os

## Settings

In [191]:
RESULT_PARENT_DIRECTORY_PATH = os.path.join("Result")
TEST_DATA_FRAME_PATH = os.path.join("test_data_frame.csv")
REVENUE_TEST_DATA_FRAME_PATH = os.path.join(
    os.pardir, "datasets", "revenue_test_data_by_date_store.csv"
)

## Enums

In [192]:
class Metric(Enum):
    RMSSE = 0  # Root Mean Squared Scaled Error

## Classes

In [193]:
@dataclass
class Evaluation:
    name: str
    data_frame: pd.DataFrame


@dataclass
class MetricResult:
    data_frame_name: str
    metric: Metric
    point: float


@dataclass
class Result:
    author: str
    evaluation_list: List[Evaluation]
    metric_result_list: List[MetricResult]

## Helper Functions

### Create test data frame

In [194]:
def create_test_data_frame() -> pd.DataFrame:
    if os.path.isfile(TEST_DATA_FRAME_PATH):
        print(f"Test data frame already exists at {TEST_DATA_FRAME_PATH}")
        test_df = pd.read_csv(TEST_DATA_FRAME_PATH)
        return test_df.copy()

    if not os.path.isfile(REVENUE_TEST_DATA_FRAME_PATH):
        raise FileNotFoundError(
            f"Revenue test data frame not found at {REVENUE_TEST_DATA_FRAME_PATH}."
        )

    revenue_test_df = pd.read_csv(REVENUE_TEST_DATA_FRAME_PATH)

    pivoted_revenue_test_df = revenue_test_df.pivot(
        index=["date", "d"], columns="store_id", values="revenue"
    ).reset_index()

    pivoted_revenue_test_df["d_numeric"] = (
        pivoted_revenue_test_df["d"].str.extract(r"d_(\d+)").astype(int)
    )

    trimmed_pivoted_test_df = (
        pivoted_revenue_test_df[pivoted_revenue_test_df["d_numeric"] >= 1914]
        .drop(columns=["d_numeric"])
        .reset_index(drop=True)
    )

    trimmed_pivoted_test_df.to_csv(TEST_DATA_FRAME_PATH, index=False)

    return trimmed_pivoted_test_df.copy()

### Read results

In [195]:
def read_result(parent_directory: str):
    # Check if the given path exists and is a directory
    if not os.path.isdir(parent_directory):
        raise NotADirectoryError(f"Directory '{parent_directory}' is not found.")

    # Get a list of all subdirectories within the parent directory
    subdirectories = [
        d
        for d in os.listdir(parent_directory)
        if os.path.isdir(os.path.join(parent_directory, d))
    ]

    # Check if there are any subdirectories; if not, raise an error
    if not subdirectories:
        raise NotADirectoryError("Author subdirectories are not found.")

## Main Flow

### Create test data frame

In [196]:
test_df = create_test_data_frame()

In [197]:
test_df

store_id,date,d,CA_1,CA_2,CA_3,CA_4,TX_1,TX_2,TX_3,WI_1,WI_2,WI_3
0,2016-04-25,d_1914,13887.08,12858.75,21662.51,9353.61,9354.89,12968.33,12579.32,9498.48,11950.82,9248.18
1,2016-04-26,d_1915,11996.21,11855.37,17924.10,8345.31,8934.54,11595.40,11658.45,9446.94,11942.89,8950.87
2,2016-04-27,d_1916,12037.84,11445.13,16858.21,8180.92,8942.52,10495.51,11325.30,9484.43,10862.16,8152.41
3,2016-04-28,d_1917,11842.57,12615.20,16662.98,7523.25,7901.84,11490.03,12127.21,9651.43,12624.97,8073.34
4,2016-04-29,d_1918,15531.11,13850.23,19288.78,8411.11,11775.60,12775.54,14664.75,12292.07,16617.89,10366.75
5,2016-04-30,d_1919,18653.94,20725.21,24333.26,9719.27,12424.21,15266.48,14068.86,16026.76,15435.87,12722.83
6,2016-05-01,d_1920,20957.14,20896.89,26670.55,11039.87,13884.16,16405.93,16612.23,15987.16,15403.56,13468.86
7,2016-05-02,d_1921,15497.53,14959.28,22582.73,10336.66,9503.97,12288.21,13812.10,10656.36,16007.25,12123.56
8,2016-05-03,d_1922,14949.03,13332.37,20335.42,9478.27,10288.27,13094.97,15545.13,10604.54,18652.08,12606.96
9,2016-05-04,d_1923,13300.04,13149.59,20043.67,8395.94,9370.00,11202.27,11748.55,10455.68,14654.52,10565.60
10,2016-05-05,d_1924,12317.36,12843.16,19542.70,8307.35,9945.57,11814.86,13552.30,11258.60,17157.94,11483.95
11,2016-05-06,d_1925,15798.44,14764.95,19599.12,8370.76,10470.88,13586.64,14077.06,11901.18,17105.13,11630.84
12,2016-05-07,d_1926,19753.75,22133.26,24941.17,10106.37,13159.87,15389.28,16513.43,16256.33,17415.87,14956.19
13,2016-05-08,d_1927,17005.95,17591.66,22905.84,8705.03,10281.61,13660.00,14392.00,12298.68,16314.79,12664.06
14,2016-05-09,d_1928,15494.36,13434.28,23045.47,10131.62,11201.79,13729.48,15201.04,11917.40,19658.05,12697.32
15,2016-05-10,d_1929,14097.24,13432.33,20180.77,9253.93,10024.49,12265.75,13219.38,9995.48,14439.30,9503.60
16,2016-05-11,d_1930,12747.16,12166.92,20375.92,8578.03,10892.27,12125.64,13602.97,12257.90,19898.23,11556.27
17,2016-05-12,d_1931,12972.42,12371.14,17510.73,8668.16,10570.04,12952.73,13086.26,10925.27,17216.33,11238.97
18,2016-05-13,d_1932,15535.51,15537.74,19829.86,8745.19,11544.88,13981.54,13992.97,11834.56,15568.59,11233.33
19,2016-05-14,d_1933,20314.35,21715.05,24562.27,10328.71,11840.00,14289.23,13951.58,16841.64,21829.53,16047.42
20,2016-05-15,d_1934,21730.28,22391.85,27210.84,11039.51,16408.23,19045.34,18578.14,16822.06,21976.03,16739.45
21,2016-05-16,d_1935,15236.62,14045.24,20218.10,9646.05,11550.32,13438.51,15053.55,10274.23,14444.74,10963.30
22,2016-05-17,d_1936,12447.15,12796.76,18372.20,8840.67,10574.30,12631.41,13405.76,10121.10,13612.95,9617.12
23,2016-05-18,d_1937,12920.62,12766.25,17780.83,8116.41,9851.97,11121.03,12078.07,9605.89,12928.75,9163.29
24,2016-05-19,d_1938,13259.90,13432.94,18635.35,8367.57,8403.09,10474.33,11196.76,10478.86,13547.39,9660.13
25,2016-05-20,d_1939,13999.65,15545.28,18219.23,8960.17,11296.88,13832.01,14667.00,11358.75,14139.33,11982.37
26,2016-05-21,d_1940,18637.70,24088.59,23849.52,9768.51,13137.35,15212.81,15696.64,14614.05,15020.25,12370.23
27,2016-05-22,d_1941,21110.44,22019.30,27275.84,11863.05,14645.54,17631.81,17164.13,15332.95,14821.51,13432.85

### Read results

In [198]:
read_result(RESULT_PARENT_DIRECTORY_PATH)

### Evaluate models

#### Metric: Root Mean Squared Scaled Error