In [1]:
import pandas as pd

In [2]:
# Generate data
id_range = [(1914 + i) for i in range(28)]
date_range = pd.date_range(start="2016-04-25", periods=28, freq="D")
d_values = [f"d_{1914 + i}" for i in range(28)]
zero_values = [0] * 28

# Create DataFrame
df = pd.DataFrame(
    {
        "id": id_range,
        "date": date_range,
        "d": d_values,
        "CA_1": zero_values,
        "CA_2": zero_values,
        "CA_3": zero_values,
        "CA_4": zero_values,
        "TX_1": zero_values,
        "TX_2": zero_values,
        "TX_3": zero_values,
        "WI_1": zero_values,
        "WI_2": zero_values,
        "WI_3": zero_values,
    }
)

In [3]:
# Display DataFrame
df

,id,date,d,CA_1,CA_2,CA_3,CA_4,TX_1,TX_2,TX_3,WI_1,WI_2,WI_3
0,1914,2016-04-25,d_1914,0,0,0,0,0,0,0,0,0,0
1,1915,2016-04-26,d_1915,0,0,0,0,0,0,0,0,0,0
2,1916,2016-04-27,d_1916,0,0,0,0,0,0,0,0,0,0
3,1917,2016-04-28,d_1917,0,0,0,0,0,0,0,0,0,0
4,1918,2016-04-29,d_1918,0,0,0,0,0,0,0,0,0,0
5,1919,2016-04-30,d_1919,0,0,0,0,0,0,0,0,0,0
6,1920,2016-05-01,d_1920,0,0,0,0,0,0,0,0,0,0
7,1921,2016-05-02,d_1921,0,0,0,0,0,0,0,0,0,0
8,1922,2016-05-03,d_1922,0,0,0,0,0,0,0,0,0,0
9,1923,2016-05-04,d_1923,0,0,0,0,0,0,0,0,0,0
10,1924,2016-05-05,d_1924,0,0,0,0,0,0,0,0,0,0
11,1925,2016-05-06,d_1925,0,0,0,0,0,0,0,0,0,0
12,1926,2016-05-07,d_1926,0,0,0,0,0,0,0,0,0,0
13,1927,2016-05-08,d_1927,0,0,0,0,0,0,0,0,0,0
14,1928,2016-05-09,d_1928,0,0,0,0,0,0,0,0,0,0
15,1929,2016-05-10,d_1929,0,0,0,0,0,0,0,0,0,0
16,1930,2016-05-11,d_1930,0,0,0,0,0,0,0,0,0,0
17,1931,2016-05-12,d_1931,0,0,0,0,0,0,0,0,0,0
18,1932,2016-05-13,d_1932,0,0,0,0,0,0,0,0,0,0
19,1933,2016-05-14,d_1933,0,0,0,0,0,0,0,0,0,0
20,1934,2016-05-15,d_1934,0,0,0,0,0,0,0,0,0,0
21,1935,2016-05-16,d_1935,0,0,0,0,0,0,0,0,0,0
22,1936,2016-05-17,d_1936,0,0,0,0,0,0,0,0,0,0
23,1937,2016-05-18,d_1937,0,0,0,0,0,0,0,0,0,0
24,1938,2016-05-19,d_1938,0,0,0,0,0,0,0,0,0,0
25,1939,2016-05-20,d_1939,0,0,0,0,0,0,0,0,0,0
26,1940,2016-05-21,d_1940,0,0,0,0,0,0,0,0,0,0
27,1941,2016-05-22,d_1941,0,0,0,0,0,0,0,0,0,0

In [4]:
df.to_csv("revenue_sample_submission.csv", index=False)