In [1]:
import pandas as pd
import random

In [2]:
random.seed(10)

In [3]:
# Generate data
date_range = pd.date_range(start="2016-04-25", periods=28, freq="D")
d_values = [f"d_{1914 + i}" for i in range(28)]
fake_values = [random.randint(5000, 20000) for _ in range(28)]

# Create DataFrame
df = pd.DataFrame(
    {
        "date": date_range,
        "d": d_values,
        "CA_1": fake_values,
        "CA_2": fake_values,
        "CA_3": fake_values,
        "CA_4": fake_values,
        "TX_1": fake_values,
        "TX_2": fake_values,
        "TX_3": fake_values,
        "WI_1": fake_values,
        "WI_2": fake_values,
        "WI_3": fake_values,
    }
)

In [4]:
# Display DataFrame
df

,date,d,CA_1,CA_2,CA_3,CA_4,TX_1,TX_2,TX_3,WI_1,WI_2,WI_3
0,2016-04-25,d_1914,14361,14361,14361,14361,14361,14361,14361,14361,14361,14361
1,2016-04-26,d_1915,5533,5533,5533,5533,5533,5533,5533,5533,5533,5533
2,2016-04-27,d_1916,12026,12026,12026,12026,12026,12026,12026,12026,12026,12026
3,2016-04-28,d_1917,12906,12906,12906,12906,12906,12906,12906,12906,12906,12906
4,2016-04-29,d_1918,14471,14471,14471,14471,14471,14471,14471,14471,14471,14471
5,2016-04-30,d_1919,5243,5243,5243,5243,5243,5243,5243,5243,5243,5243
6,2016-05-01,d_1920,8376,8376,8376,8376,8376,8376,8376,8376,8376,8376
7,2016-05-02,d_1921,12578,12578,12578,12578,12578,12578,12578,12578,12578,12578
8,2016-05-03,d_1922,18325,18325,18325,18325,18325,18325,18325,18325,18325,18325
9,2016-05-04,d_1923,13049,13049,13049,13049,13049,13049,13049,13049,13049,13049
10,2016-05-05,d_1924,18493,18493,18493,18493,18493,18493,18493,18493,18493,18493
11,2016-05-06,d_1925,9546,9546,9546,9546,9546,9546,9546,9546,9546,9546
12,2016-05-07,d_1926,15706,15706,15706,15706,15706,15706,15706,15706,15706,15706
13,2016-05-08,d_1927,18281,18281,18281,18281,18281,18281,18281,18281,18281,18281
14,2016-05-09,d_1928,7625,7625,7625,7625,7625,7625,7625,7625,7625,7625
15,2016-05-10,d_1929,5563,5563,5563,5563,5563,5563,5563,5563,5563,5563
16,2016-05-11,d_1930,13530,13530,13530,13530,13530,13530,13530,13530,13530,13530
17,2016-05-12,d_1931,13029,13029,13029,13029,13029,13029,13029,13029,13029,13029
18,2016-05-13,d_1932,10370,10370,10370,10370,10370,10370,10370,10370,10370,10370
19,2016-05-14,d_1933,6246,6246,6246,6246,6246,6246,6246,6246,6246,6246
20,2016-05-15,d_1934,9095,9095,9095,9095,9095,9095,9095,9095,9095,9095
21,2016-05-16,d_1935,17215,17215,17215,17215,17215,17215,17215,17215,17215,17215
22,2016-05-17,d_1936,10917,10917,10917,10917,10917,10917,10917,10917,10917,10917
23,2016-05-18,d_1937,5730,5730,5730,5730,5730,5730,5730,5730,5730,5730
24,2016-05-19,d_1938,11887,11887,11887,11887,11887,11887,11887,11887,11887,11887
25,2016-05-20,d_1939,19092,19092,19092,19092,19092,19092,19092,19092,19092,19092
26,2016-05-21,d_1940,7272,7272,7272,7272,7272,7272,7272,7272,7272,7272
27,2016-05-22,d_1941,14882,14882,14882,14882,14882,14882,14882,14882,14882,14882

In [5]:
df.to_csv("revenue_sample_data.csv", index=False)