In [7]:
import pandas as pd

In [8]:
# Generate data
date_range = pd.date_range(start="2016-04-25", periods=28, freq="D")
d_values = [f"d_{1914 + i}" for i in range(28)]
zero_values = [0] * 28

# Create DataFrame
df = pd.DataFrame(
    {
        "date": date_range,
        "d": d_values,
        "CA_1": zero_values,
        "CA_2": zero_values,
        "CA_3": zero_values,
        "CA_4": zero_values,
        "TX_1": zero_values,
        "TX_2": zero_values,
        "TX_3": zero_values,
        "WI_1": zero_values,
        "WI_2": zero_values,
        "WI_3": zero_values,
    }
)

In [9]:
# Display DataFrame
df

,date,d,CA_1,CA_2,CA_3,CA_4,TX_1,TX_2,TX_3,WI_1,WI_2,WI_3
0,2016-04-25,d_1914,0,0,0,0,0,0,0,0,0,0
1,2016-04-26,d_1915,0,0,0,0,0,0,0,0,0,0
2,2016-04-27,d_1916,0,0,0,0,0,0,0,0,0,0
3,2016-04-28,d_1917,0,0,0,0,0,0,0,0,0,0
4,2016-04-29,d_1918,0,0,0,0,0,0,0,0,0,0
5,2016-04-30,d_1919,0,0,0,0,0,0,0,0,0,0
6,2016-05-01,d_1920,0,0,0,0,0,0,0,0,0,0
7,2016-05-02,d_1921,0,0,0,0,0,0,0,0,0,0
8,2016-05-03,d_1922,0,0,0,0,0,0,0,0,0,0
9,2016-05-04,d_1923,0,0,0,0,0,0,0,0,0,0
10,2016-05-05,d_1924,0,0,0,0,0,0,0,0,0,0
11,2016-05-06,d_1925,0,0,0,0,0,0,0,0,0,0
12,2016-05-07,d_1926,0,0,0,0,0,0,0,0,0,0
13,2016-05-08,d_1927,0,0,0,0,0,0,0,0,0,0
14,2016-05-09,d_1928,0,0,0,0,0,0,0,0,0,0
15,2016-05-10,d_1929,0,0,0,0,0,0,0,0,0,0
16,2016-05-11,d_1930,0,0,0,0,0,0,0,0,0,0
17,2016-05-12,d_1931,0,0,0,0,0,0,0,0,0,0
18,2016-05-13,d_1932,0,0,0,0,0,0,0,0,0,0
19,2016-05-14,d_1933,0,0,0,0,0,0,0,0,0,0
20,2016-05-15,d_1934,0,0,0,0,0,0,0,0,0,0
21,2016-05-16,d_1935,0,0,0,0,0,0,0,0,0,0
22,2016-05-17,d_1936,0,0,0,0,0,0,0,0,0,0
23,2016-05-18,d_1937,0,0,0,0,0,0,0,0,0,0
24,2016-05-19,d_1938,0,0,0,0,0,0,0,0,0,0
25,2016-05-20,d_1939,0,0,0,0,0,0,0,0,0,0
26,2016-05-21,d_1940,0,0,0,0,0,0,0,0,0,0
27,2016-05-22,d_1941,0,0,0,0,0,0,0,0,0,0

In [11]:
df.to_csv("revenue_sample_submission.csv", index_label=False)